@import "../common/components/styles/sass/Variables.scss";

.Header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 1;

    &:hover {
        backdrop-filter: blur(5px);
        transition: ease-in-out .3s;
    }
}