.Contacts {
  background-color: rgb(235, 229, 157);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.Container {
  width: 80%;
  min-width: 400px; 
}


.Form {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 35px;
}

.Input {
  min-width: 400px;
  width: 60%;
  display: flex;
  margin: 5px;

}

.TextArea {
  min-width: 400px;
  width: 60%;
  display: flex;
  margin-top: 5px;
  margin-bottom: 25px;
  height: 100px;
}

