@import "../common/components/styles/sass/Variables.scss";
@import "../common/components/styles/sass/mixins.scss";
@import "../common/components/button/Button.module.scss";

.Contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  .Container {
    @include container;
    justify-content: center;

    .Form {
      width: 600px;

      @media screen and (max-width: 650px) {
        width: 450px;
      }

      @media screen and (max-width: 500px) {
        width: 250px;
      }

      @include flexColumCenter;
      padding-bottom: 35px;

      .Input {
        background-color: $bgSecondColor;
        @include text;
        font-size: medium;
        margin: 5px;
        border: none;
        color: $primaryColor;
        width: 100%;
      }

      .TextArea {
        @extend .Input;
        background-color: $bgSecondColor;
        height: 100px;
        color: $textColor;
      }

      .Button {
        @extend .Btn;
        background-color: unset;
      }
    }
  }
}