@import "../common/components/styles/sass/Variables.scss";
@import "../common/components/styles/sass/mixins.scss";

.Contacts {
  @include flexColumCenter;

  .Container {
    display: flex;
    justify-content: center;
    width: 80%;
    min-width: 400px;

    .Form {
      @include flexColumCenter;
      width: 80%;
      padding-bottom: 35px;

      .Input {
        background-color: $bgSecondColor;
        @include text;
        font-size: medium;
        min-width: 400px;
        width: 60%;
        display: flex;
        margin: 5px;
      }

      .TextArea {
        background-color: $bgSecondColor;
        @include text;
        font-size: medium;
        min-width: 400px;
        width: 60%;
        display: flex;
        margin-top: 5px;
        margin-bottom: 25px;
        height: 100px;
      }
    }
  }
}