@import "../styles/sass/Variables.scss";
@import "../styles/sass/mixins.scss";
.Title {
    @include title;
    position: relative;
    

    &::after {
        content: "";
        height: 1px;
        width: 55px;
        position: absolute;
        background-color:$primaryColor;
        left: 50%;
        transform: translate(-50%, 50%)
    }
}