.Skills {
    background-color: beige;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Img {
    width: 100px;
    height: 100px;
}

.Title {
text-decoration: underline;
}
.Container {
  align-items: flex-start;
}