@import "../common/components/styles/sass/Variables.scss";
@import "../common/components/styles/sass/mixins.scss";

.Main {
    @include mainContainer;

    .Container {
        @include container;

        @media screen and (max-width: 875px) {
            justify-content: center;
        }

        @media screen and (max-width: 1265px) {
            justify-content: center;
        }

        .ImgContainer {
            @include flexColumCenter;
            height: 500px;
            width: 400px;
            min-width: 250px;
            // background-color: $bgSecondColor;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            // @media screen and(max-width: 700px) {
            //     height: 400px;
            //     width: 300px;
            // }

            // @media screen and(max-width: 400px) {
            //     height: 350px;
            //     width: 250px;
            // }
        }

        .Text {
            max-width: 100%;
            height: fit-content;
            // background-color: $bgSecondColor;
            font-size: 25px;
            text-transform: capitalize;
            font-weight: 300;
            letter-spacing: 5px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;
 @media screen and(max-width: 300px) {
                
                max-width:  280px;
            }
            span {
                font-size: 25px;

                &:nth-child(2) {
                    font-weight: 700;
                    font-size: 50px;
                    padding: 5px;

                    span {
                        font-weight: 700;
                        font-size: 50px;
                        position: relative;
                        z-index: 0;
                        display: inline-block;

                        &:before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 20px;
                            background-color: $primaryColor;
                            bottom: 0;
                            z-index: -1;
                        }
                    }
                }

                &:nth-child(3) {
                    span {
                    
                        font-size: 50px;
                    }

                }
            }
        }
    }
}