.ProjectConstructor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    min-height: 600px;
    background-color: #122543;

    .Img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            background-color: #122543;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.4;
        }

        .ViewButton {
            text-decoration: none;
            color: #8cc4df;
            letter-spacing: 1px;
            font-size: large;
            padding: 10px 20px;
            background-color: #122543;
            position: relative;
            z-index: 1;
        }
    }

    .Title {
        letter-spacing: 2px;
    }

    .Description {
        text-align: center;
        letter-spacing: 1px;
        margin: 0 5px;
    }
}