.BlockConstructor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px; 
    min-height: 400px;
    background-color: #122543;
}

.Img {
    width: 100px;
    height: 100px;
}

.Description {
text-align: center;
}