.App{
    background-color: #0b1629;

}

h1, h2, h3 {
text-decoration: none;
    color: #8cc4df;
}

button{
    font-family: 'Josefin Sans', sans-serif;
    color: #8cc4df;
  background-color: #dfe3ee;
  font-size: large;
}