@import "../common/components/styles/sass/Variables.scss";

.Nav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding-top: 10px;
    font-weight: 300;

.NavButton{
    background-color: unset;
    font-size: x-large;
    padding: 0;
    letter-spacing: 3px;

    @media screen and (max-width:350px) {
       letter-spacing: normal;
        font-size: larger;
    }
}
   @media screen and (max-width:750px) {
        width: 70%;
    }

    @media screen and (max-width:500px) {
        width: 90%;
    }

    @media screen and (max-width:350px) {
        width: 100%;
      
    }
   

}