@import "../common/components/styles/sass/Variables.scss";
@import "../common/components/button/Button.module.scss";
.Nav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding-top: 10px;
    font-weight: 300;

.NavButton{
    @extend .Btn;
    background-color: unset;
    font-size: x-large;
    padding: 5px;
    letter-spacing: 3px;
    font-weight: 300;
    text-transform: capitalize;
    max-width: 200px;
  

    @media screen and (max-width:350px) {
       letter-spacing: normal;
        font-size: larger;
    }
}
   @media screen and (max-width:750px) {
        width: 70%;
    }

    @media screen and (max-width:500px) {
        width: 90%;
    }

    @media screen and (max-width:350px) {
        width: 100%;
      
    }
   

}