.Nav{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.Nav a {
    text-decoration: none;
    color: #8cc4df;
    font-size: x-large;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 1px;
}

@media screen and (max-width:750px ){
    .Nav {
        width: 70%;
    }
}
@media screen and (max-width:500px ){
    .Nav {
        width: 90%;
    }
}
@media screen and (max-width:350px ){
    .Nav {
        width: 100%;
    }
}