@import "../common/components/styles/sass/mixins.scss";
@import "../common/components/button/Button.module.scss";
@import "../common/components/styles/sass/Variables.scss";

.Footer {
  @include flexColumCenter;
  min-height: fit-content;

  .Container {
    @include container;
    width: 50%;


    .Btn {
      @extend .Btn;
       width: 50px;
       color: $textColor;
    }
  }

}