@import "../common/components/styles/sass/mixins.scss";

.Projects {
  @include mainContainer;
  align-items: center;

  .Container {
    @include container;

    @media screen and (max-width: 1000px) {
      justify-content: center;
    }

    .Block {
      min-width: 400px;
      min-height: 600px;

      @media screen and (max-width: 400px) {
        min-width: 200px;
        min-height: 200px;
      }

      .Img {
        min-width: 400px;
        min-height: 400px;

        @media screen and (max-width: 400px) {
          min-width: 200px;
          min-height: 200px;
        }
      }
    }
  }
}