.Projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container {
  justify-content: space-between; 
  align-items: flex-start;
}

@media screen and (max-width: 1000px) {
  .Container {
      justify-content: center;
  }
}

.Img{
  min-width: 400px;
  min-height: 400px;
}
.Block{
  min-width: 400px;
  min-height: 600px;
}

@media screen and (max-width: 400px) {
  .Img{
    min-width: 200px;
    min-height: 200px;
  }
  .Block{
    min-width: 200px;
    min-height: 200px;
  }
}


